<!DOCTYPE html>
<html>
<head>
    <title>Create Account</title>
    <link rel="stylesheet" href="CSS_create.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<center>
    <font>
        <h1>Create Account</h1>
	<hr size=15px color="white">

        <body>

            <form action="/createaccount" autocomplete="on" method="POST" enctype="multipart/form-data">

                Username:<br> <input type="text" name="username"><br><br>

                Password:<br> <input type="password" name="password" ><br><br>

                First Name:<br> <input type="text" name="first_name"><br><br>

                Last Name:<br> <input type="text" name="last_name"><br><br>

                Location:<br> <input type="text" name="location"><br><br>

                Role:
                <div class="radio-container">
                    <input type="radio" name="role" value="job_seeker" class="custom-radio" id="job_seeker"> Job Seeker
                </div>
                <div class="radio-container">
                    <input type="radio" name="role" value="job_provider" class="custom-radio"> Job Provider<br><br>
                </div>
                Photo: &nbsp;<input type="file" name="user_photo_file" ><br><br>

                <button type="submit" class="button primary-button">CREATE ACCOUNT</button><br><br>

            </form>
        </body>

    </font>
</center>

</html>