<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Dashboard</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles3.css') }}">
</head>
<body>
  <header>
    <h1>{{name}}'s Dashboard</h1>
  </header>

  <div class="dashboard-container">
    <div class="card">
    <div class="card-header">
      <h2>User Profile</h2>
    </div>
    <div class="card-content">
      <p>
        Username: {{name}} <br>
        Name: {{fname}} {{lname}} <br>
        Location: {{location}} <br>
        ROLE: {{role}} <br>
        Job: {{job}} <br>
      </p>
    </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h2>Recent Job Availability</h2>
      </div>
      <div class="card-content">
       <ul>
          <li>Job 1</li>
          <li>Job 2</li>
          <li>Job 3</li>
          <li>Job 4</li>
        </ul>
      </div>
      </div>
    <div id="upload-container">
      <span id="upload-icon">🎨</span>
      <p id="upload-text">Upload your art by clicking the button below.</p>
      <label for="file-input" id="upload-button">Choose File</label>
      <input type="file" id="file-input" />
  </div>
  </div>
  <hr>
  <center><h1>RECENT UPLOADS</h1></center>
  <hr>
  <div id="art-gallery">
    <div class="art-card">
        <img class="art-image" src="art1.jpg" alt="Art 1">
        <div class="art-info">
            <div class="art-title">Abstract Landscape</div>
            <div class="art-author">By Artist123</div>
        </div>
    </div>

    <div class="art-card">
        <img class="art-image" src="art2.jpg" alt="Art 2">
        <div class="art-info">
            <div class="art-title">Colorful Expression</div>
            <div class="art-author">By CreativeArtiste</div>
        </div>
    </div>
    <div class="art-card">
      <img class="art-image" src="art3.jpg" alt="Art 3">
      <div class="art-info">
          <div class="art-title">XYZ</div>
          <div class="art-author">By ABC</div>
      </div>
  </div>

</div>

</body>
</html>
