<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Dashboard</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles3.css') }}">
</head>
<body>
  <header>
    <h1>{{name}}'s Dashboard</h1>
  </header>

  <div class="dashboard-container">
    <div class="card">
    <div class="card-header">
      <h2>User Profile</h2>
    </div>
    <div class="card-content">
      <p>
        Username: {{name}} <br>
        Name: {{fname}} {{lname}} <br>
        Location: {{location}} <br>
        ROLE: {{role}} <br>
        Job: {{job}} <br>
      </p>
    </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h2>People Near You</h2>
      </div>
      <div class="card-content">
        <table border="1">
          <tr>
              <th>Username</th>
              <th>Role</th>
              </tr>
          {% for row in query2 %}
          <tr>
              <td>{{ row[0] }}</td>
              <td>{{ row[2] }}</td>
          </tr>
          {% endfor %}
      </table>
      </div>
      </div>
    
  </div>
  <hr>
  <center><h1>RECENT UPLOADS</h1></center>
  <hr>
  <div id="art-gallery">
    <div class="art-card">
  
        <div class="art-info">
            <div class="art-title">Abstract Landscape</div>
            <div class="art-author">By Artist123</div>
        </div>
    </div>

    <div class="art-card">
        
        <div class="art-info">
            <div class="art-title">Colorful Expression</div>
            <div class="art-author">By CreativeArtiste</div>
        </div>
    </div>
    <div class="art-card">
     
      <div class="art-info">
          <div class="art-title">XYZ</div>
          <div class="art-author">By ABC</div>
      </div>
  </div>

</div>

</body>
</html>
