<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles2.css') }}">
</head>
<body>
  <div class="login-container">
    <form action="/login" autocomplete="on" method="POST" enctype="multipart/form-data">
      <center><h1>Login</h1></center>
      Username:  <input type="text" name="username"><br><br>
      Password:  <input type="password" name="password" ><br><br>
      <button class="button login-button">Login</button>
    </form>
    <form action="/gotoCreateAccount" autocomplete="on" method="POST" enctype="multipart/form-data">
      <button class="button create-account-button" type="submit">Create Account</button>
    </form>
    
  </div>
</body>
</html>
